body {
    margin: 0px;
    padding: 0px;
    background-color: #eee;
}
.sidebar, .navbar {
    font-family: 'Overlock', cursive;
}
.logindetails span {
    padding-top: 4px;
    margin-top: 4px;
    display: block;
    font-weight: bold;
}
.box {
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    margin-bottom: 8px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    -o-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.box-content {
    padding: 10px;
}
.box-highlight {
    background-color: #f9f9f9;
}
.box-footer {
    border-top: 1px solid #c4c4c4;
    padding: 4px;
    padding-left: 10px;
    font-size: 12pt;
    color: #c4c4c4;
}
p.bookmark-description {
    color: #777777;
    padding: 8px;
    font-size: 9pt;
}
.message-stats {
    color: #777777;
    font-size: 9pt;
}
.box-footer a.btn {
    line-height: 10px;
    font-size: 12px;
    padding: 4px 10px 0px;
}

.box-footer .post-type {
    color: #555555;
}
.box-highlight .box-content {
    padding: 4px;
}
.item-menu {
    float: right;
}
.item-menu .dropdown-toggle {
    font-size: 14px;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
}
.item-menu a {
    text-decoration: none;
}
.bookmark-image {
    float: left;
}
.bookmark-with-image {
    min-height: 100px;
}

.bookmark-url-loading {
    background-color: #f4f4f4;
}

.bookmark {
    border-top: 1px solid #DDDDDD;
}

.bookmark .link {
    font-weight: bold;
    font-size: 120%;
}
.sidebar li {
    list-style-type: none;
    height: 28px;
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    color: #777;
    font-size: 8pt;
    text-align: center;
}
.sidebar li:hover {
    color: #000;
}
.sidebar li div {
    font-size: 32px;
    align: center;
    width: 100%;
}
.sidebar a:hover {
    text-decoration: none;
}

footer {
    text-align: center;
    font-size: 8pt;
    color: #777777;
}

#stream {
    max-width: 700px;
}
.stream-message header {
    font-size: 9pt;
    color: #777777;
}
.stream-message header strong {
    font-size: 10pt;
    color: #000;
}
.profile {
    margin-bottom: 10px;
    max-width: 700px;
}
.people-list {
    list-style-type: none;
    margin-left: 0px;
}
.people-list li {
    margin-bottom: 3px;
}
.loading {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/ajax-loader.gif');
    height: 30px;
}

div#header {
    background-color: #00C8FA;
    height: 60px;
    color: #ffffff;
    font-family: 'Overlock', cursive;
}
div#header .help-inline {
    color: #ffffff;
}
div#header .navbar-inner {
    background-color: #00C8FA;
    background-image: none;
    border: 0px;
    border-shadow: 0px;
    border-radius: 0px;
}
div#header .brand {
    display: block;
    float: left;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    text-shadow: 0 1px 0 white;
}
div#header .brand:hover {
    text-decoration: none;
}
#main {
    margin-top: -20px;
}
.sidebar {
    padding-top: 40px;
}
.sidebar ul {
    margin: 0px;
    padding: 0px;
}
.content {
    max-width: 1200px;
    font-family: arial,sans-serif;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    -o-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.conversation-message {
    font-size: 8pt;
    color: #777777;
}
form.stream-message-add-replyto {
    margin: 0px;
}
.stream-message-add-replyto .actions {
    display: none;
}
.stream-message-add-replyto textarea {
    font-size: 9pt;
    height: 10px;
    min-height: 10px;
}
.hidden-content {
    display: none;
}
.popover-user-details {
    width: 400px;
}
.notification-count {
    position: relative;
    z-index: 999;
    top: -20px;
    right: 0px;
}
.new-messages a {
    display: block;
    text-align: center;
    color: #c09853;
}
.status-length-left {
    font-size:8pt;
}
.conversation {
    max-width: 700px;
}
