body {
    margin: 0px;
    padding: 60px;
}
.sidebar, .navbar {
    font-family: 'Overlock', cursive;
}
.logindetails span {
    padding-top: 4px;
    margin-top: 4px;
    display: block;
    font-weight: bold;
}
.box {
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    margin-bottom: 8px;
}
.box-content {
    padding: 10px;
}
.box-highlight {
    background-color: #f9f9f9;
}
.box-footer {
    border-top: 1px solid #c4c4c4;
    padding: 4px;
    padding-left: 10px;
    font-size: 12pt;
    color: #c4c4c4;
}
p.bookmark-description {
    color: #777777;
    padding: 8px;
    font-size: 9pt;
}
.box-footer a {
    margin-right: 5px;
}
.box-footer .post-type {
    color: #777777;
}
.box-highlight .box-content {
    padding: 4px;
}
.item-menu {
    float: right;
}
.item-menu .dropdown-toggle {
    font-size: 14px;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
}
.item-menu a {
    text-decoration: none;
}
.bookmark-image {
    float: left;
}
.bookmark-with-image {
    min-height: 100px;
}

.bookmark-url-loading {
    background-color: #f4f4f4;
}

.bookmark {
    border-top: 1px solid #DDDDDD;
}

.bookmark .link {
    font-weight: bold;
    font-size: 120%;
}
.sidebar li {
    list-style-type: none;
    height: 28px;
    display: block;
    margin-bottom: 16px;
    font-weight: bold;
    color: #777;
}
.sidebar li:hover {
    color: #000;
}
.sidebar i {
    font-size: 32px;
    align: center;
}
.sidebar a:hover {
    text-decoration: none;
}

footer {
    text-align: center;
    font-size: 8pt;
    color: #777777;
}
.stream-message {
    max-width: 700px;
}
.stream-message header {
    font-size: 9pt;
    color: #777777;
}
.stream-message header strong {
    font-size: 10pt;
    color: #000;
}
.profile {
    margin-bottom: 10px;
}
.people-list {
    list-style-type: none;
    margin-left: 0px;
}
.people-list li {
    margin-bottom: 3px;
}
.loading {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/ajax-loader.gif');
    height: 30px;
}
