<div class="row-fluid stream-message" data-message-id="{{ message.id }}" data-entity="{{ message.entity.entity }}"
    {% if message.content.mentions is defined %}data-mentions="{{ message.content.mentions }}"{% endif %}>
    {% if message.type == "follower" %}
    <div class="span1">
        <a class="user-details" href="{{ path('stream_user', {'entity': message.content.follower.entity}) }}"><img src="{% if message.content.follower.avatar %}{{ message.content.follower.avatar}}{% else %}/zelten.png{% endif %}" height="90" width="90" class="img-polaroid" /></a>
    </div>
    <div class="span11">
        <div class="box">
            <div class="box-content">
                <a href="{{ path('stream_user', {'entity': message.content.follower.entity}) }}" class="user-details">{{ message.content.follower.name }}</a> now follows you!
            </div>
            <div class="box-footer">
                <div class="row-fluid">
                    <div class="span3">
                        <div class="btn-group">
                            <a href="#" class="btn show-tooltip" data-original-title="Follower Notification"><i class="icon-user post-type"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="span1">
        <a class="user-details" href="{{ path('stream_user', {'entity': message.getEntityShortname()}) }}"><img src="{% if message.entity.avatar %}{{ message.entity.avatar}}{% else %}/zelten.png{% endif %}" height="90" width="90" class="img-polaroid" /></a>
    </div>
    <div class="span11">
        <div class="box">
            <div class="box-content">
                <header>
                    <div class="row-fluid">
                        <div class="span6">
                            <strong>
                                <a class="user-details" href="{{ path('stream_user', {'entity': message.getEntityShortname()}) }}">{% if message.entity.name %}{{ message.entity.name }}{% else %}{{ message.entity.entity }}{% endif %}</a>
                            </strong>
                        </div>
                        <div class="span6">

                            {% if message.repostedBy %}
                            <p class="pull-right">Message was reposted by <a class="user-details" href="{{ path('stream_user', {'entity': message.repostedBy.entity}) }}">{{ message.repostedBy.name }}</a></p>
                            {% endif %}

                            {% if message.content.reply is defined %}
                            <p class="pull-right"><a href="{{ path('post_conversation', {'id': message.id, 'entity': message.getEntityShortname()}) }}" class="show-conversation">Reply to {{ message.content.reply.entity.name }}</a></p>
                            {% endif %}
                        </div>
                    </div>
                </header>

                <div class="message-body">
                {% if message.type == 'status' %}
                {{ message.content.text|raw }}
                {% elseif message.type == 'bookmark' %}
                    shared a link to
                    <a href="{{ message.content.url }}" target="_blank">
                    {% if message.content.image %}<img src="{{ message.content.image }}" height="16" width="16" />{% endif %}
                    {{ message.content.title }}
                    </a>

                    {% if message.content.description is defined %}<p class="bookmark-description">{{ message.content.description }}</p>{% endif %}
                {% elseif message.type == 'essay' %}
                    <h4>{{ message.content.title }}</h4>

                    <p>{{ message.content.excerpt }} <a href="#" class="more-content">show more</a></p>

                    <div class="hidden-content">
                        {{ message.content.body|raw }}
                    </div>
                {% endif %}
                </div>
            </div>
            <div class="box-footer">
                <div class="row-fluid">
                    <div class="span8 message-stats">
                        {% if message.type == 'status' %}
                        <a href="#" class="show-tooltip" data-original-title="Status Message"><i class="icon-envelope post-type"></i></a>
                        {% elseif message.type == 'bookmark' %}
                        <a href="#" class="show-tooltip" data-original-title="Bookmark"><i class="icon-link post-type"></i></a>
                        {% elseif message.type == 'essay' %}
                        <a href="#" class="show-tooltip" data-original-title="Essay"><i class="icon-pencil post-type"></i></a>
                        {% endif %}

                        {{ message.published|date }} - {{ message.app.name }} -

                        {% if message.permissions.public is defined and message.permissions.public %}
                        <a href="#" class="show-popover" rel="popover" data-content="This content is visible to everybody on the internet." data-original-title="Permissions">Public</a>
                        {% elseif message.permissions.groups is not defined and message.permissions.entities is not defined %}
                            <a href="#" class="show-popover" rel="popover" data-content="This content is private any only visible to you." data-original-title="Permissions">Private</a>
                        {% else %}
                        <a href="#" class="show-popover" rel="popover" data-content="
    {% spaceless %}
    This content is limited to the following groups and entities:

    <ul>
    {% if message.permissions.groups is defined %}
    {% for name in message.permissions.groups %}
    <li>{{ name}}</li>
    {% endfor %}
    {% endif %}

    {% if message.permissions.entities is defined %}
    {% for name in message.permissions.entities %}
    <li>{{ name }}</li>
    {% endfor %}
    {% endif %}
    </ul>
    {% endspaceless %}" data-original-title="Permissions">Limited</a>
                        {% endif %}
                    </div>
                    <div class="span4">
                        <div class="btn-group pull-right">
                            <a href="#" class="btn show-tooltip repost" data-original-title="Repost this Message"><i class="icon-retweet"></i></a>
                            <a href="{{ path('post_conversation', {'id': message.id, 'entity': message.getEntityShortname()}) }}" class="btn show-tooltip show-conversation" data-original-title="View Conversation"><i class="icon-comment"></i></a>
                        </div>
                    </div>
                </div>
                <div class="conversations-pane hidden-content">
                    <div class="row-fluid">
                        <div class="span12">
                            <form method="post" action="{{ path('stream_write') }}" class="stream-message-add-replyto">
                                <input type="hidden" name="type" value="comment" />
                                <input type="hidden" name="mentioned_entity" value="{{ message.entity.entity }}" />
                                <input type="hidden" name="mentioned_post" value="{{ message.id }}" />

                                <textarea class="span12 message" name="message" placeholder="Reply to this message..."></textarea>
                                <div class="actions">
                                    <input type="submit" class="btn btn-success stream-message-add-btn" value="Reply" />
                                    <input type="reset" class="btn stream-message-add-cancel" value="Cancel" />
                                </div>
                            </form>
                            <div class="conversations">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
