<div class="row-fluid profile" data-entity="{{ profile.entity }}">
    <div class="span9">
        <h3>{{ profile.name }} {% if you %}(YOU){% endif %}</h3>

        {% if not app.request.isXmlHttpRequest() %}<p><a href="{{ profile.uri }}">{{ profile.uri }}</a></p>{% endif %}
        <small>

        {% if profile.basic.bio %}<p>{{ profile.basic.bio }}</p>{% endif %}

        {% if profile.basic.location %}<p>Lives in {{ profile.basic.location }}</p>{% endif %}

        {% if profile.basic.birthdate %}<p>Was born on {{profile.basic.birthdate }}</p>{%endif%}
        </small>
    </div>
    <div class="span3">
        {% if profile.basic.avatar_url %}
        <img src="{{ profile.basic.avatar_url }}"
            class="img-polaroid"
            height="{% if not app.request.isXmlHttpRequest() %}1{% endif %}75"
            width="{% if not app.request.isXmlHttpRequest() %}1{% endif %}75" />
        {% endif %}

        {% if not you %}
        <p align="center" style="padding-top: 10px">
            <form class="follow" method="post" action="{{ path('stream_follow') }}">
                <input type="hidden" name="entity" value="{{ profile.entity }}" />
                <input type="submit" class="btn btn-success" value="Follow" />
            </form>
        </p>
        {% endif %}
    </div>
</div>

