<div id="stream">
    {% if post_add %}
    <div class="stream-add-message-box">
        <form action="{{ path('stream_write') }}" method="message" class="stream-message-add">
            <div class="box box-highlight">
                <div class="box-content">
                    <div  class="form-inline">
                        <textarea class="message span12" name="message" rows="1" placeholder="Share whats new..."></textarea>
                    </div>
                </div>
                <div class="box-footer actions hidden-content">
                    <input type="submit" class="stream-message-add-btn btn btn-success" value="Share" disabled="disabled" />
                    <input type="reset" class="btn stream-message-add-cancel" value="Cancel" />
                    <span class="status-length-left"></span>
                </div>
            </div>
        </form>
    </div>
    {% endif %}

    <div class="row-fluid stream-filters">
        <div class="span6">&nbsp;</div>
        <div class="span6">
            <div class="filter-post-type btn-group pull-right" data-toggle="buttons-radio">
                <button value="all" type="button" class="btn active">All</button>
                <button value="status" type="button" class="btn"><i class="icon-envelope"></i></button>
                <button value="essay" type="button" class="btn"><i class="icon-pencil"></i></button>
                <button value="bookmark" type="button" class="btn"><i class="icon-link"></i></button>
            </div>
        </div>
    </div>

    <div class="stream-notifications"></div>

    <div class="stream-messages">
    {% for message in messages.messages %}
        {% include "_message.html" with {'message': message} %}
    {% endfor %}
    </div>
</div>

