{% extends "layout.html" %}

{% block title %}Tent Services{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <h2>Get started</h2>

        {% if app.session.get('entity_url') %}
        {% else %}
        <form method="post" action="{{ path('login') }}" class="form-inline">
            <input type="text" name="entity_url" size="60" placeholder="Your Tent Username or URL" class="span6" />
            <input type="submit" class="btn btn-success" value="Login" />
            <a href="https://tent.is" class="btn">Register</a>
        </form>
        {% endif %}
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <h3>Share and protect your data</h3>

        <p>
            Zelten is a new social network experience based on the Tent
            social protocol. If you own a Tent account on any provider you
            can use Zelten. Register on <a href="https://tent.is">Tent.is</a>
            to get a free tent account. Except for authentication data (encrypted),
            cache data, and aggregate numbers, we save no data permanently.
        </p>

        <ul>
            <li>Send and recieve status messages</li>
            <li>Mark and list your favorite Tent messages</li>
            <li>Save and share web bookmarks</li>
        </ul>

        <p>
            So far <strong>{{ stats.total_users }}</strong>
            users have registered with Zelten.
        </p>
    </div>

    <div class="span6">
        <h3>What is Tent?</h3>

        <p>
            <a href="http://tent.io" target="_blank">Tent</a> is a
            decentralized social network. You own your data, not one central
            company.  Your Tent data can be saved wherever you choose and you
            are in full control of who has access to your personal data.
            You can install your own Tent server or use a free one, such as <a
                href="http://tent.is" target="_blank">Tent.is</a>.
        </p>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <h3>SocialSync</h3>

        <p>You can connect your Twitter account to this application and automatically push
            Tent status posts to Twitter.</p>
    </div>

    <div class="span6">
        <h3>Is this OpenSource?</h3>

        <p>
            Yes! The <a href="https://github.com/beberlei/zelten">application</a> is on Github
            as well as the <a href="https://github.com/beberlei/TentPHP">TentPHP</a> client library that
            it uses internally. You can check <a href="{{ path('developers') }}">our developer resources</a>
            for information on the post types created for the Zelten product. Developers are free to use
            these post types in their projects.
        </p>
    </div>
</div>

{% endblock %}

