{% extends "layout.html" %}

{% block title %}Tent Services{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <h2>Get started</h2>

        {% if app.session.get('entity_url') %}
        {% else %}
        <form method="post" action="{{ path('login') }}" class="form-inline">
            <input type="text" name="entity_url" size="60" placeholder="Your Tent Username or URL" class="span6" />
            <input type="submit" class="btn btn-success" value="Login" />
            <a href="https://tent.is" class="btn">Register</a>
        </form>
        {% endif %}
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <h3>Share and protect your social data</h3>

        <p>
            Zelten is a new social network experience, based on the tent.io
            social protocol. If you own a tent.io account on any provider you
            can use Zelten. Register on <a href="https://tent.is">Tent.is</a>
            to get a free tent.io account. Except authentication data (encrypted) and
            aggregate numbers we save no data permantenly.
            Until now there have been <strong>{{ stats.total_users }}</strong>
            users on Zelten.
        </p>

        <ul>
            <li>Send and recieve status messages</li>
            <li>Save and share bookmarks</li>
        </ul>
    </div>

    <div class="span6">
        <h3>What is Tent.io?</h3>

        <p>
            <a href="http://tent.io" target="_blank">Tent.io</a> is
            decentralized social network. You own your data, not one central
            company.  Your tent-data can be saved wherever you choose and you
            are always in full control who has access to your personal data.
            You can install your own tent server or use a free one, such as <a
                href="http://tent.is" target="_blank">Tent.is</a>.
        </p>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <h3>Is this OpenSource?</h3>

        <p>
            Yes! The <a href="https://github.com/beberlei/zelten">application</a> is on Github
            as well as the <a href="https://github.com/beberlei/TentPHP">TentPHP</a> client library that
            is used internally.
        </p>
    </div>

    <div class="span6">
        <h3>SocialSync</h3>

        <p>You can connect your Twitter account to this application and automatically push
            tent status posts to Twitter.</p>
    </div>
</div>

<div class="row-fluid">
    <div class="span8">
        <h3>Tent.io PostType for Bookmarks</h3>

        <p>
            The url of this post type is "<strong>http://www.beberlei.de/tent/bookmark/v0.0.1</strong>".
            Here is the schema:
        </p>

        <table class="table table-stripped">
            <tr>
                <td>url</td>
                <td>Required</td>
                <td>String</td>
                <td>Url of the bookmark</td>
            </tr>
            <tr>
                <td>title</td><td>Required</td><td>String</td><td>Title of the page</td>
            </tr>
            <tr><td> image</td><td>Optional</td><td>String</td><td>A link to an image found/explaining the url</td></tr>
            <tr><td> description</td><td>Optional</td><td>String</td><td>A description of the contents to be found on the url.</td></tr>
            <tr><td> locale</td><td>Optional</td><td>Array</td><td>The locale the content is available in</td></tr>
            <tr><td> site_name</td><td>Optional</td><td>String</td><td>Name of the Website/Network the content is posted on.</td></tr>
            <tr><td> tags</td><td>Optional</td><td>Array</td><td>A list of tags associated with this bookmark.</td></tr>
            <tr><td> content</td><td>Optional</td><td>String</td><td>A copy of the content (as backup or for readbility)</td></tr>
        </table>
    </div>
</div>
{% endblock %}

