<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - Zelten</title>

        <link href="http://fonts.googleapis.com/css?family=Overlock" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/css/bookmarks.css?v=2" rel="stylesheet" type="text/css" />
        <meta http-equiv='Content-Type' content='Type=text/html; charset=utf-8'>
    </head>
    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a href="{{ path('homepage') }}" class="brand">Zelten</a>
                    <ul class="nav">
                        <li><a href="{{ path('bookmarks') }}">Bookmarks</a></li>
                    </ul>
                    {% if app.session.get('entity_url') %}
                        <a href="{{ path('logout') }}" class="btn pull-right">Logout</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="span8 offset2">
                    <div class="content">
                        <div class="errors"></div>

                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

<script type="text/html" id="error-message">
<div class="alert alert-danger">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <ul>
    <% for(var error in messages) { %>
        <li><%- messages[error] %></li>
    <% } %>
    </ul>
</div>
</script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/underscore-min.js"></script>
        <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/backbone-min.js"></script>
        <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/bookmarks.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
