<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - Zelten</title>

        <link href="http://fonts.googleapis.com/css?family=Overlock|Merriweather:400,300,700" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/bootstrap/css/bootstrap.min.css?v=17" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/favicon.png" rel="shortcut icon" />
        <link href="{{ app.request.basepath }}/css/bookmarks.css?v=17" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/font-awesome/css/font-awesome.css?v=17" rel="stylesheet" type="text/css" />
        <meta http-equiv='Content-Type' content='Type=text/html; charset=utf-8' />
        <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
    </head>
    <body>

        <div id="header">
            <div class="container-fluid">
                <a href="{{ path('homepage') }}" class="brand">Zelten</a>
                {% if app.session.get('entity_url') %}
                <div class="pull-right">
                    <span class="help-inline"><strong>{{ app.session.get('entity_url') }}</strong></span>
                    <a href="{{ path('logout') }}" class="btn"><i class="icon-signout"></i> Logout</a>
                </div>
                {% endif %}
            </div>
        </div>

        <div id="main" class="container-fluid">
            <div class="row-fluid">
                <div class="span1 sidebar">
                    {% if app.session.get('entity_url') %}
                    <ul>
                        <li><a href="{{ path('stream') }}"><div class="icon-inbox"></div> Stream</a></li>
                        <li><a class="notifications" href="{{ path('stream_notifications') }}"><div class="icon-envelope"></div> Notifications</a></li>
                        {#<li><div class="icon-user"></div> Profile</li>#}
                        <li><a href="{{ path('bookmarks') }}"><div class="icon-link"></div> Bookmarks</a></li>
                        {#<li><div class="icon-camera-retro"></div> Photos</li>#}
                        {#<li><a href="{{ path('groups') }}"><div class="icon-group"></div> Groups</a></li>#}
                        <li><a href="{{ path('socialsync') }}"><div class="icon-random"></div> SocialSync</a></li>
                    </ul>
                    {% endif %}

                    <footer>
                        Developed by <a href="https://beberlei.tent.is">^beberlei</a>.
                        Please sent Feedback via Tent
                    </footer>
                </div>

                <div class="span11">
                    <div class="content">
                        <div class="errors"></div>

                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>

        </div>

<script type="text/html" id="error-message">
<div class="alert alert-danger">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <ul>
    <% for(var error in messages) { %>
        <li><%- messages[error] %></li>
    <% } %>
    </ul>
</div>
</script>

<script type="text/html" id="modal-confirm-dialog">
<div class="modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3><%- title %></h3>
    </div>
    <div class="modal-body">
        <%= post %>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn cancel">Cancel</a>
        <a href="#" class="btn btn-primary action-success"><%- label %></a>
    </div>
</div>
</script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/jquery.autoresize.js"></script>
        <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/clickover.js"></script>
        <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/jquery.cookie.js"></script>
        <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/underscore-min.js"></script>
        <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/backbone-min.js"></script>
        <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/bookmarks.js?v=17"></script>
        <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/notifications.js?v=17"></script>
        <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $(".notifications").each(function() {
                var view = new Zelten.NotificationCountView({
                    url: '{{ path('stream_notifications_count') }}',
                    el: $(this)
                });
                view.render();
            });
        });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
