{% extends "layout.html" %}

{% block title %}SocialSync{% endblock %}

{% block content %}
<h3>Synchronize your Tent with the outer world (BETA!)</h3>

<p>
    Synchronize status post to your tent in realtime with other social networks
    containing <code>#social</code>.
</p>

<p>
    {% if twitter_connected %}
    <a href="#" class="btn btn-success">Twitter is connected</a>
    {% else %}
    <a href="{{ path('socialsync_connect_twitter') }}" class="btn">Connect Twitter</a>
    {% endif %}
</p>

{% endblock %}
