{% extends "layout.html" %}

{% block title %}SocialSync{% endblock %}

{% block content %}
<h3>Synchronize your Tent with the outer world (BETA!)</h3>

<p>
    Synchronize status post from your tent to other social networks in real time.
    To trigger the synchronization the post has to contain <code>#social</code>.
</p>

<p>
    {% if twitter_connected %}
    <a href="#" class="btn btn-success"><i class="icon-twitter"></i> Twitter is connected</a>
    {% else %}
    <a href="{{ path('socialsync_connect_twitter') }}" class="btn"><i class="icon-twitter"></i> Connect Twitter</a>
    {% endif %}
</p>

{% endblock %}
