{% extends app.request.isXmlHttpRequest() ? "ajax.html" : "layout.html" %}

{% block title %}{% if mentioned_entity is defined %}Notifications{% else %}Stream{% endif %}{% endblock %}

{% block content %}
<div id="stream" {% if mentioned_entity is defined %}data-mentioned-entity="{{ mentioned_entity }}{% endif %}>
    {% if post_add %}
    <div class="stream-add-message-box">
        <form action="{{ path('stream_write') }}" method="message" class="stream-message-add">
            <div class="box box-highlight">
                <div class="box-content">
                    <div  class="form-inline">
                        <textarea class="message span12" name="message" rows="1" placeholder="Share whats new..."></textarea>
                    </div>
                </div>
                <div class="box-footer actions hidden-content">
                    <div class="row-fluid">
                        <div class="span2"><small>Visible to:</small></div>
                        <div class="span10">
                            <input type="text" class="complete-permissions span12" name="permissions" value="" />
                        </div>
                    </div>

                    <input type="submit" class="stream-message-add-btn btn btn-success" value="Share" disabled="disabled" />
                    <input type="reset" class="btn stream-message-add-cancel" value="Cancel" />
                    <span class="status-length-left"></span>
                </div>
            </div>
        </form>
    </div>
    {% endif %}

    <div class="row-fluid stream-filters">
        <div class="span6">&nbsp;</div>
        <div class="span6">
            <div class="filter-post-type btn-group pull-right" data-toggle="buttons-radio">
                <button value="all" type="button" class="btn active show-tooltip" title="All Posts">All</button>
                <button value="status" type="button" class="btn show-tooltip" title="Show only Status Posts"><i class="icon-envelope"></i></button>
                {% if mentioned_entity is not defined %}
                <button value="essay" type="button" class="btn show-tooltip" title="Show only Essays"><i class="icon-pencil"></i></button>
                <button value="repost" type="button" class="btn show-tooltip" title="Show only Reposts"><i class="icon-retweet"></i></button>
                <button value="bookmark" type="button" class="btn show-tooltip" title="Show only Bookmarks"><i class="icon-link"></i></button>
                {% else %}
                <button value="follower" type="button" class="btn show-tooltip" title="Show only Follower Notifications"><i class="icon-user"></i></button>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="stream-notifications"></div>

    <div class="stream-messages">
    {% for message in messages.messages %}
        {% include "_message.html" with {'message': message} %}
    {% endfor %}
        <div class="hidden-desktop">
            <div class="alert alert-info">
                <a href="#" class="loadOlderPosts">Load more posts</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

