{% extends app.request.isXmlHttpRequest() ? "ajax.html" : "layout.html" %}

{% block title %}Stream{% endblock %}

{% block content %}
{% include "_stream.html" with {'messages': messages, 'post_add': post_add} %}
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var ZeltenMessages = {
        {% if mentioned_entity is defined %}mentioned_entity: '{{ mentioned_entity}}',{% endif %}
        url: '{{ path('stream') }}',
        entity: '{{ app.session.get('entity_url') }}',
        first: {{ messages.first|json_encode|raw }},
        last: {{ messages.last|json_encode|raw }}
    };
</script>
<script type="text/javascript" src="/js/stream.js"></script>
{% endblock %}
