{% extends app.request.isXmlHttpRequest() ? "ajax.html" : "layout.html" %}

{% block title %}{{ entity }}{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span9">
    {% if not app.request.isXmlHttpRequest() %}
    {% include "_profile.html" with {'profile': profile, 'size': 150 } %}
    {% endif %}
    </div>

    <div class="span3">
        <strong>{{ followings.total }} followings</strong> (<a href="#">View All</a>)
        <ul class="people-list">
            {% for following in followings.list %}
            <li>
                <a href="{{ path('stream_user', {'entity': following.entity}) }}">
                    <img class="img-polaroid" height="30" width="30" src="{% if following.avatar %}{{ following.avatar }}{% else%}/zelten.png{% endif %}" />
                {{ following.name }}
                </a>
            </li>
            {% endfor %}
        </ul>

        <strong>{{ followers.total }} followers</strong> (<a href="#">View All</a>)

        <ul class="people-list">
            {% for follower in followers.list %}
            <li>
                <a href="{{ path('stream_user', {'entity': follower.entity}) }}">
                    <img class="img-polaroid" height="30" width="30" src="{% if follower.avatar %}{{ follower.avatar }}{% else%}/zelten.png{% endif %}" />
                {{ follower.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var ZeltenMessages = {
        url: '{{ path('stream_user', {'entity': profile.entity}) }}',
        entity: '{{ entity }}',
        first: {{ messages.first|json_encode|raw }},
        last: {{ messages.last|json_encode|raw }}
    };
</script>
<script type="text/javascript" src="/js/stream.js"></script>
{% endblock %}

{% block sidebar %}
{% endblock %}

