{% extends app.request.isXmlHttpRequest() ? "ajax.html" : "layout.html" %}

{% block title %}{{ profile.name }}{% endblock %}

{% block content %}
        {% include "_profile.html" with {"profile": profile, "you": you} %}

        <div id="stream" data-entity="{{ profile.entity }}">
            <div class="stream-notifications"></div>
            <div class="stream-messages"></div>
        </div>
{% endblock %}

{% block sidebar %}
<div class="following">
    {% include "_user_list.html" with {
        users: {'list': [], 'total': ''},
        title: 'following',
        profile: profile,
        route: 'user_following'
    } %}
</div>

<div class="follower">
    {% include "_user_list.html" with {
        users: {'list': [], 'total': ''},
        title: 'followed by',
        profile: profile,
        route: 'user_followers'
        } %}
</div>
{% endblock %}

